In [1]:
import pyodbc 
import pandas as pd
import statistics 

conn = pyodbc.connect('Driver={SQL Server Native Client 11.0};'
                      'Server=LAPTOP-34VQMBK6\SQLEXPRESS;'
                      'Database=Portofolio Data Analytics;'
                      'Trusted_Connection=yes;')

df = pd.read_sql_query('SELECT * FROM vCanada2', conn)

display(df)
print(type(df))
df['NumOfImm'] = df['NumOfImm'].astype('Int64')

C:\Users\GG\AppData\Roaming\Python\Python39\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,Coverage,OdName,AreaName,RegName,DevName,Year,NumOfImm
0,Foreigners,Afghanistan,Asia,Southern Asia,Developing regions,1980,16.0
1,Foreigners,Afghanistan,Asia,Southern Asia,Developing regions,1981,39.0
2,Foreigners,Afghanistan,Asia,Southern Asia,Developing regions,1982,39.0
3,Foreigners,Afghanistan,Asia,Southern Asia,Developing regions,1983,47.0
4,Foreigners,Afghanistan,Asia,Southern Asia,Developing regions,1984,71.0
...,...,...,...,...,...,...,...
6591,Foreigners,Zimbabwe,Africa,Eastern Africa,Developing regions,2009,508.0
6592,Foreigners,Zimbabwe,Africa,Eastern Africa,Developing regions,2010,494.0
6593,Foreigners,Zimbabwe,Africa,Eastern Africa,Developing regions,2011,434.0
6594,Foreigners,Zimbabwe,Africa,Eastern Africa,Developing regions,2012,437.0
6595,Foreigners,Zimbabwe,Africa,Eastern Africa,Developing regions,2013,407.0

<class 'pandas.core.frame.DataFrame'>

In [2]:
display(df)

,Coverage,OdName,AreaName,RegName,DevName,Year,NumOfImm
0,Foreigners,Afghanistan,Asia,Southern Asia,Developing regions,1980,16
1,Foreigners,Afghanistan,Asia,Southern Asia,Developing regions,1981,39
2,Foreigners,Afghanistan,Asia,Southern Asia,Developing regions,1982,39
3,Foreigners,Afghanistan,Asia,Southern Asia,Developing regions,1983,47
4,Foreigners,Afghanistan,Asia,Southern Asia,Developing regions,1984,71
...,...,...,...,...,...,...,...
6591,Foreigners,Zimbabwe,Africa,Eastern Africa,Developing regions,2009,508
6592,Foreigners,Zimbabwe,Africa,Eastern Africa,Developing regions,2010,494
6593,Foreigners,Zimbabwe,Africa,Eastern Africa,Developing regions,2011,434
6594,Foreigners,Zimbabwe,Africa,Eastern Africa,Developing regions,2012,437
6595,Foreigners,Zimbabwe,Africa,Eastern Africa,Developing regions,2013,407

In [3]:
df.describe()

           NumOfImm
count   6596.000000
mean     971.669648
std     3224.477320
min        0.000000
25%        7.000000
50%      102.000000
75%      588.000000
max    42584.000000

In [15]:
# Range
range_ni = max(df['NumOfImm'])-min(df['NumOfImm'])
print('Range =',range_ni)
print(50*'=')

# Variance
var_ni = statistics.variance(df['NumOfImm'])
print('Variance =',var_ni)
print(50*'=')

# Skewness
skew = df.skew(numeric_only=True)
print(skew)
print(50*'=')

# Kurtosis
kurt = df.kurtosis(numeric_only=True)
print(kurt)

Range = 42584
==================================================
Variance = 10397253
==================================================
NumOfImm    7.300867
dtype: float64
==================================================
NumOfImm    63.784539
dtype: float64